async-timeout
cffi
clingo
cmake
coloredlogs
Cython
graphviz
humanfriendly
lxml
markdown-it-py
mdurl
networkit
numpy==1.26.4
psutil
py-cpuinfo
pycparser
Pygments
rich
scipy
fond-utils
benchexec[systemd]
